In [1]:
import pandas as pd
# CSV файл читается функцией read_csv
df = pd.read_csv('data.csv')
df.head(3)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson

In [3]:
#Задание 2 - вывести первые три значения dateAdded
df.loc[:2]['dateAdded']

0    2016-03-02T11:49:34Z
1    2016-03-02T11:49:34Z
2    2016-10-14T01:58:25Z
Name: dateAdded, dtype: object

In [4]:
#Задание 3 - узнать типы данных в колонках
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

In [5]:
df.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

In [7]:
# Задание 6
df_1 = df.dropna() #удалить строки с пропущенными значениями
df_1.shape #узнать размерность таблицы

(1925, 16)

In [8]:
df_1

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
72,AVwc_6st_7pvs4fz1Mln,95 Matthews Dr,Restaurant,Hilton Head Island,"Japanese, Thai, Hibachi",2015-10-19T20:43:35Z,2016-08-22T11:22:45Z,32.212044,-80.701132,Appetizers Sushi Bar,USD,2016-08-20T00:00:00Z,"Pepper tuna, pepper white tuna, spicy crab mea...",Taco Tara,Okko Hilton Head,SC
242,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Main i pico slaw i radish i cilantro-lime crem...,Blackened Fish Tacos,French Meadow Cafe & Bluestem Bar,MN
243,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Blackened organic tempeh i tempeh chorizo i pi...,Blackened Tempeh Tacos,French Meadow Cafe & Bluestem Bar,MN
259,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Main,USD,2016-04-24T00:00:00Z,"Grilled or blackened with house made tortilla,...",Shrimp or Mahi Taco,Mebane Downtown Table,NC
261,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Starters,USD,2016-04-24T00:00:00Z,"Slow cooked leg of duck, house made tortilla w...",Duck Confit Tacos,Mebane Downtown Table,NC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76997,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,"A new favorite Slowsmoked brisket, served in y...",Brisket Tacos,Los Vaqueros - West,TX
76998,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,The chefs favorite when he is too busy to sit ...,Johnnys Burrito Bowl,Los Vaqueros - West,TX
76999,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,"With chili con queso, Spanish rice and refried...",One Beef or Chicken Burrito,Los Vaqueros - West,TX
77000,AVz0WZf3-gnIPe8DUW4y,2300 Matlock Rd. Suite 21,Restaurant,Mansfield,"Mexican, American, Seafood",2017-06-29T14:55:31Z,2017-06-29T14:55:31Z,32.594093,-97.106282,Ensaladas Salads,USD,2017-06-28T17:33:26.597Z,Seasoned picadillo beef served with fresh mixe...,Ensalada Taco,El Primo's Mexican Grill & Cantina,TX
77014,AVz0WZsS-gnIPe8DUW45,4150 North MacArthur Blvd,Restaurant,Irving,"Steakhouse, American",2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.862452,-96.959246,Air,USD,2017-06-28T17:36:57.862Z,peppers onions jack cheese flour tortilla sour...,Beer Can Chicken Tacos,LAW at Four Seasons Dallas,TX

In [9]:
df

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [11]:
# задание 7 - фильтрация и вывод индексов
df[df['city'] == 'California'].index

Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938,
       52939, 65070],
      dtype='int64')

In [14]:
# Задание 8
df_8 = df[
    (df['city'] == 'California') & (df['name'] == 'Taco Bell')
]
df_8.index

Index([52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939], dtype='int64')

In [15]:
#Задание 9
result = df[
    (df['city'] == 'New York') | (df['name'] == 'Taco Bell') & (~(df['menus.name'] == 'Volcano Taco')) & (~(df['menus.name'] == 'Fresco Soft Taco'))
]
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
135,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Grilled Steak Soft Taco,Taco Bell,NH
136,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Crunchy Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

In [21]:
# Задание 10
data = df
result = data.dropna(subset = ['menus.currency']) #удалить строки с пропущенными значениями по колонке валюты
result

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
15,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Potatoes, onion, peppers, mushroom, avocado, b...",Mondo Veggie Burrito,Java Joe's,NM
16,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z","Grilled tofu, potatoes and your choice of chil...",Tofu Burrito,Java Joe's,NM
17,AVwc_1y6kufWRAb51O6w,906 Park Ave SW,"Coffee Shop,Restaurants,Coffeehouses",Albuquerque,Coffee Shops,2016-06-05T20:15:56Z,2017-07-06T13:28:29Z,35.085320,-106.657616,NaN,USD,"2016-06-05T20:15:56Z,2016-10-20T07:09:38Z",NaN,Black Bean Burrito,Java Joe's,NM
18,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,NaN,Burrito De Rajas,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
19,AVwc_2OQ_7pvs4fz1L5H,100 W Higgins Rd,Restaurant,Barrington,"Mexican, Latin American",2016-07-26T17:39:41Z,2016-08-26T05:25:56Z,42.074974,-88.189151,NaN,USD,2016-08-22T00:00:00Z,"lettuce, chihuahua cheese, black beans, mexica...",Taco,Mago Grill & Cantina - South Barrington,Fox Rv Vly Gn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [27]:
data_1 = data['categories']
data_1.dtypes

dtype('O')

In [29]:
data_1

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [28]:
data_2 = data[['categories']]
data_2.dtypes

categories    object
dtype: object

In [30]:
data_2

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [32]:
df.head(2)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.56157,-95.12102,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.56157,-95.12102,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS

In [38]:
#Задание 12 - вывод по количеству вхождений
df['city'].value_counts().head(5)

city
San Diego        1924
Los Angeles      1603
Chicago          1186
San Francisco    1120
New York         1085
Name: count, dtype: int64

In [115]:
df['city'].value_counts().index

Index(['San Diego', 'Los Angeles', 'Chicago', 'San Francisco', 'New York',
       'Houston', 'Brooklyn', 'Las Vegas', 'Portland', 'Phoenix',
       ...
       'Wood River', 'Genoa', 'Bunkie', 'Shalimar', 'Kodak', 'Corfu',
       'Sharon Hill', 'Lawrence Township', 'Selinsgrove', 'Santa Clarita'],
      dtype='object', name='city', length=3601)

In [40]:
#Задание 13
data_bell = df[(df['name'] == 'Taco Bell')]
result = data_bell['city'].value_counts().head(5)
result

city
Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: count, dtype: int64

In [42]:
#Задание 13
df = data
result = data[(data['name'] == 'Taco Bell')]['city'].value_counts().head(5)
result

city
Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: count, dtype: int64

In [43]:
df_14 = df.copy()
df_14['dateAdded'] = pd.to_datetime(df_14['dateAdded'])
df_14.head(2)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.56157,-95.12102,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01T18:04:44Z,39.56157,-95.12102,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS

In [46]:
df_14[df_14['dateAdded'].dt.month == 10].head(5).index #индексы первых пяти ресторанов открытых в октября

Index([2, 21, 22, 23, 24], dtype='int64')

In [80]:
#Задание 15
data = df.copy()
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
result = data.groupby(data['dateAdded'].dt.month)['id'].nunique().to_frame() # nunique() - выдает количество уникальных значений; to_frame() - обращает series в dataframe
result

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [123]:
# Задание 16
data = df.copy()
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data['dateUpdated'] = pd.to_datetime(data['dateUpdated'])
update_delta = data['dateUpdated'] - data['dateAdded']
update_delta = update_delta.dt.days
data.insert (loc= 0 , column='update_delta', value=update_delta)
result = data.groupby(
    data['city']
).agg({
    'update_delta': 'mean',
    'latitude': 'max'
})
zep_mean = result.loc['Zephyrhills']['update_delta']
print(zep_mean)
result = result.reset_index()
result

329.69565217391306

              city  update_delta   latitude
0        Abbeville    114.857143  29.982108
1         Aberdeen     81.625000  46.975110
2          Abilene    206.454545  32.453090
3         Abingdon    303.500000  36.712800
4         Abington    393.000000  40.124851
...            ...           ...        ...
3596       Zebulon      0.000000  33.102090
3597   Zephyr Cove    105.500000  38.984947
3598   Zephyrhills    329.695652  28.271183
3599  Zieglerville    621.000000  40.291611
3600    Zionsville    151.500000  39.954970

[3601 rows x 3 columns]

In [124]:
data.head()

,update_delta,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,336,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,336,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,0,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14 01:58:25+00:00,2016-10-14 01:58:25+00:00,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,24,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09 17:30:34+00:00,2016-10-04 05:15:17+00:00,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,114,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19 11:50:25+00:00,2016-09-11 00:06:37+00:00,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial

In [129]:
#Задание 17 - фильтрация по слову в строке в столбце
data_17 = data[(data['categories'].str.contains('Pizza')) == True]
data_17.index

Index([    0,     1,    66,    67,   158,   232,   233,   234,   235,   236,
       ...
       76251, 76252, 76253, 76254, 76255, 76256, 76291, 76507, 76669, 76709],
      dtype='int64', length=1538)

In [136]:
#Задание 18
data = df.copy()
data['dateAdded'] = pd.to_datetime(data['dateAdded'])
data['dateUpdated'] = pd.to_datetime(data['dateUpdated'])
update_delta = data['dateUpdated'] - data['dateAdded']
update_delta = update_delta.dt.days
data.insert (loc= 0 , column='update_delta', value=update_delta)
#data['update_delta'].describe()
data['update_delta'].median()

364.0

In [208]:
#Задание 19
data = df.copy()
data_cat = data['categories'].dropna().str.split(pat=",").str.len()
data_l = data_cat.to_frame(name = 'lenght')
data_l = data_l[(data_l['lenght'] > 20)]
data_cat20 = data.loc[data_l.index]
result = data_cat20.groupby(
    data_cat20['province']
).agg({
    'longitude': 'min'
})
result = result.round(3).reset_index()
result.to_csv('result.csv', sep=';', index=False)

In [207]:
result

        province  longitude
0             AZ   -110.136
1             CA   -122.417
2             DC    -77.075
3          G P O    -73.990
4             KY    -87.455
5             MA    -71.055
6             MD    -77.453
7             NY    -76.794
8   St Simons Is    -81.394
9             TX    -94.939
10            VA    -77.093
11            WA   -122.383
12            WI    -89.377